/* Generel stil for article elementer */
article {
  --flow-space: 0.5rlh;
}

/* Anvendelse af den generelle flow space til margin mellem elementer */
article > * {
  margin-top: var(--flow-space);
}

/* Sæt specifik flow space for h2 */
article > h2 {
  --flow-space: 2rlh;
}

/* Sæt specifik flow space for h3 */
article > h3 {
  --flow-space: 1rlh;
}

/* Reducér flow space for elementer lige efter h3 */
article > h3 + * {
  --flow-space: 0.25rlh;
}
