/* Flow space for article */
article {
  --flow-space: 0.5rlh;
}

/* Flow space mellem elementer */
article > * {
  margin-top: var(--flow-space);
}

/* Flow spacing for alle h2 der er direkte barn af article */
article > h2 {
  margin-top: calc(var(--flow-space) * 4);
}
