---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  
  main {
    
    > * {
      grid-column: 2;
    }
    section {
      
      > * {
        grid-column: 2;
      }
      
      > ul {
        scroll-snap-type: x mandatory;
        grid-column: 1 / -1;
        padding-inline: max(1rem, 50% - var(--content-width) / 2);
        padding-block-end: 1rem;
        
        li {
          scroll-snap-align: center;
        }
      }
    }
  }

</style>
